@mixin font-size-point-300dpi( $point ) {
  font-size: $point * 4.166666666666667px;
}


@function grid-width($n) {
    $max: 12;
    $needleWidth: percentage( $n / $max );
    @return $needleWidth;
}

/* --блок текста после баннера-- */

.text-container {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 0;
    position: relative;
    z-index: 1;
    * {
        font-family: Tahoma;
        color: #fff;
        // font-size: 1rem;
    }


    &__block {
        width: grid-width(4);
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
        opacity: 0.89;
        @include font-size-point-300dpi( 4.5 );

        .bold{
            font-weight: bold;
        }
        
        @media (max-width: 960px) {
            @include font-size-point-300dpi(4);
            padding: 10px 15px;
        }     

        @media (max-width: 733px) {
            @include font-size-point-300dpi(3.5);
            padding: 10px;
            /*opacity: 0.85;*/
        }

        @media (max-width: 492px) {
            display: block;
            padding: 10px;
            width: 100%;
            opacity: 0.95;
        }

        .text_size{
            &19{font-size: 19px;}        
            &18{font-size: 18px;}
            &17{font-size: 17px;}
            &16{font-size: 16px;}
            &15{font-size: 15px;}
            &14{font-size: 14px;}
            &13{font-size: 13px;}            
            &12{font-size: 12px;}
            &11{font-size: 11px;}
            &10{font-size: 10px;}
            &9{font-size: 9px;}
            &8{font-size: 8px;}            
        }

        &:nth-child(1n) {
            background-color: #54B7E8;
        }

        &:nth-child(2n) {
            background-color: #3093C9;
        }

        &:nth-child(3n) {
            background-color: #197EC2;
        }

        &:after {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        p {
            display: inline-block;
            vertical-align: middle;
        }

    }
}



/* --блок текста после баннера-- */
