/* --блок с продуктами-- */

@mixin apply-button__gradient__orange {
    $start: #FA9921;
    $end: #E55D20;
    background: linear-gradient(to bottom, $start 30%, $end 70%);
    background: -webkit-linear-gradient(to bottom, $start 30%, $end 70%);
    background: -moz-linear-gradient(to bottom, $start 30%, $end 70%);
    background: -o-linear-gradient(to bottom, $start 30%, $end 70%);
    background: -ms-linear-gradient(to bottom, $start 30%, $end 70%);
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, $start), color-stop(70%, $end));
}

%product-image_after-icon {
    content: '';
    position: absolute;
    margin-left: 20px;
    display: inline-block;
    top: 0;

    @media (max-width: 733px) {
        left: 100%;
    }

    @media (max-width: 560px) {
        left: auto;
    }
}

.products-container {
    width: 100%;

    font-size: 0px;
    * {
        box-sizing: border-box;
        font-size: 1rem;
        color: #fff;
    }
    padding: 10px 0px;
    
    &__header {
        text-align: center;
        padding: 25px 20px;
        background-color: #345E8C;

        h2 {
            @include font-size-point-300dpi( 5.7 );
            font-weight: normal;
            font-family: Tahoma;
    
            @media (max-width: 733px) {
                @include font-size-point-300dpi( 4.7 );
            }
        }

    }

    &__block {
        color: #fff;
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 0px;
        font-size: 0px;
        padding: 30px 20px 30px;
        
        @media (max-width: 560px) {
            padding: 30px 10px 10px;
        }

        &_first { 
            background-color: #3693D6;
            z-index: 3;
            box-shadow: 0px 5px 13px -4px #333333;

            sup{
                color: #fff !important;
            }
        }
        &_second {
            background-color: #6AB6E6;
            z-index: 2;
            box-shadow: 0px 5px 13px -4px #333333;

            sup{
                color: #fff !important;
            }
        }
        &_third {
            background-color: #DCEBF9;
            z-index: 1;

            * {
                color: #333333;
            }

            sup{
                color: #333333 !important;
            }

        }

        &_separator {
            display: none;
            @media (max-width: 561px) {
                border-top: 1px solid;
                color: #fff;
                display: block;
            }
        }

        &-description {
            width: 100%;
            padding: 20px 0px;

            h3 {
                font-family: Tahoma;
                font-weight: normal;
                @include font-size-point-300dpi(5.5);

                @media (max-width: 733px) {
                    @include font-size-point-300dpi(4.5);
                }

                @media (max-width: 560px) {
                    @include font-size-point-300dpi(5);
                }
            }

            p {
                @include font-size-point-300dpi(4);
                padding: 10px 0 0 25px;
                
                @media (max-width: 733px) {
                    @include font-size-point-300dpi(3.5);
                    padding: 10px 0px 0px 0px;                    
                }
            }
        }

        &-product {
            display: inline-block;
            width: 50%;
            white-space: nowrap;
            font-size: 0px;
            vertical-align: top;

            @media (max-width: 561px) {
                padding-bottom: 20px;
            }

            @media (max-width: 560px) {
                width: 100%;
                padding-bottom: 20px;

            }

            *{
                white-space: normal;
                font-size: 1rem;
            }

            &-name {
                padding: 10px 25px 10px 0px;
                font-weight: bold;
                font-family: Tahoma;
                @include font-size-point-300dpi(3.5);
            }

            &-image {
                position: relative;
                
                @media only screen and (min-width: 560px) and (max-width: 733px) {
                    width: 50%;
                }


                &_jetblue {  
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-jetblue);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-jetblue-sm);
                        }
                    }
                }         

                &_good-rewards {  
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-good-rewards);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-good-rewards-sm);
                        }

                    }
                }                

                &_any-airline {  
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-any-airline);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-any-airline-sm);
                        }
                    }
                }                
				
                &_any-cruise {  
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-any-cruise);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-any-cruise-sm);
                        }
                    }
                }

                &_for-any-hotel {  
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-for-any-hotel);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-any-cruise-sm);
                        }
                    }
                }

                &_for-hilton-hotel {  
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-for-hilton-hotel);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-any-cruise-sm);
                        }
                    }
                }

                &_intro-apr {
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-intro-apr);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-intro-apr-sm);
                        }
                    }
                }

                &_great-bonus {
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-great-bonus);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-great-bonus-sm);
                        }
                    }
                }

                &_free-insurance {
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-free-insurance);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-free-insurance-sm);
                        }
                    }
                }

                &_up-to-25-off {
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-up-to-25-off);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-up-to-25-off-sm);
                        }
                    }
                }

                &_american {
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-american);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-american-sm);
                        }
                    }
                }
				
				&_any-gas-station {
                    &:after {
                        @extend %product-image_after-icon;
                        @include sprite($save-on-travel-any-gas-station);
                        @media only screen and (max-width: 560px) {
                            @include sprite($save-on-travel-any-gas-station-sm);
                        }
                    }
                }

                img {

                    @media (max-width: 733px) {
                        width: 140px;
                    }
                    @media only screen and (max-width: 560px) {
                        width: 120px;
                    }
                }
            }

            &-description {
                &-name {
                    display: inline-block;
                    width: 30%;
                    padding: 10px 10px 20px;
                    text-align: left;
                    vertical-align: top;
                    font-family: Tahoma;
                    @include font-size-point-300dpi(3.5);

                    @media (max-width: 733px) {
                        @include font-size-point-300dpi(3.3);
                        padding: 10px 10px 20px 0px;
                    }

                    @media (max-width: 560px) {
                        padding: 10px 0px 20px 0px;
                    }
                }
                &-value {
                    display: inline-block;
                    width: 68%;
                    padding: 10px 10px 20px;
                    text-align: left;
                    vertical-align: top;
                    font-weight: bold;
                    font-family: Tahoma;
                    @include font-size-point-300dpi(3.5);

                    @media (max-width: 733px) {
                        @include font-size-point-300dpi(3.3);
                        padding: 10px 10px 20px 0px;
                    }

                    @media (max-width: 560px) {
                        padding: 10px 0px 20px 0px;
                    }
                }

                &-lace {
                    border-top: 1px solid; 
                    color: #fff;
                    @media (max-width: 561px) {
                        display: none;
                    }
                }
            }

            &-button {
                width: 145px;
                height: 40px;
                border-radius: 10px;
                @include apply-button__gradient__orange;
                border: none;
                @include font-size-point-300dpi(4);
                font-weight: bold;
                padding: 10px 15px;
                color: #fff;
                display: block;
                text-align: center;
				margin:22px 0 0 0;

                &:focus {
                    outline: none;
                }
            }

            &:nth-child(even) {
                padding-left: 25px;
                padding-right: 5px;

                @media (max-width: 733px) {
                    padding-left: 0;
                }

                @media (max-width: 560px) {
                    padding-right: 0;
                }
            }

            &:nth-child(odd) {
                padding-right: 25px;
                padding-left: 5px;

                @media (max-width: 733px) {
                    padding-right: 0;
                }                
                @media (max-width: 560px) {
                    padding-left: 0;
                }
            }
        }

        &:after {
            width: 60px;
            left: grid-width(5.5);
            content: '';
            height: 40px;
            position: absolute;
            z-index: 2;
            margin: 0 auto;
            background-color: inherit;
            border-radius: 0px 0px 100px 100px;
            color: #fff;
            bottom: -25px;
            box-shadow: 0px 8px 15px -5px #333333;
            background-image: url($folder_images + "save-on-travel__curve_white.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 50%;
        }
    }

    &__block:last-child {
        &:after {
            display:none;
        }
    }
}

/* --блок с продуктами-- */
