@mixin gradient__container-links-background_blue-black {
    $start:#59BAEC;
    $end: #333333;
    background: linear-gradient(to bottom, $start 84%, $end 110%);
    background: -webkit-linear-gradient(to bottom, $start 84%, $end 110%);
    background: -moz-linear-gradient(to bottom, $start 84%, $end 110%);
    background: -o-linear-gradient(to bottom, $start 84%, $end 110%);
    background: -ms-linear-gradient(to bottom, $start 84%, $end 110%);
    background-image:-webkit-gradient(linear, 50% 0%, 50% 110%, color-stop(85%, $start), color-stop(100%, $end));
} 


/* --блок ссылок-- */
.container-links {
    width: 100%;
    background: #59BAEC;
    font-size: 0px;
    padding: 30px 20px 40px 120px;
    display: inline-block;
    box-shadow: inset 0px -35px 34px -20px #4c8daf;

    * {
        box-sizing: border-box;
        font-size: 1rem;
        font-family: tahoma;
        color: #fff;
    }

    @media (max-width: 733px) {
        padding: 30px;
    }

    &__block {
        width: grid-width(6);
        display: inline-block;
        vertical-align: top;

        @media (max-width: 733px) {
            padding-left: 20px;
        }

        @media (max-width: 492px) {
            width: 100%;
            padding-bottom: 15px;
        }

        .title {
            padding: 15px 0;

            h3 {
                font-weight: normal;
            }
        }

        .list {
            padding-left: 20px;
            @include font-size-point-300dpi(3.8);

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
/* --блок ссылок-- */
