.container-faqs {
  width: 100%;
  font-size: 0;
  padding: 0 50px;
  text-align: center;


  @media (max-width: 540px) {
    padding: 0 10px;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  h3 {
    font-size: 25px;
    font-weight: normal;
  }
}
.faqs-block__article {
  width: 94%;
  text-align: left;
  display: inline-block;
  padding: 0 0 20px 10px;


  @media (max-width: 490px) {
    width: 92%;
  }

  &-name {
    color: #345E8C;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;

    &:hover {
      color: #4EA8E1;
    }
    @media(max-width: 492px){
      font-size: 16px;
    }
  }

  &-text {
    padding: 10px 0 0;
    font-size: 14px;
  }

  &-link {
    width: 100%;
    color: #0299D2;
    font-size: 17px;
    text-align: right;
    display: inline-block;
  }
}

.faqs-block__question-icon {
  width: 6%;
  color: #59BAEC;
  font-size: 30px;
  line-height: 100%;
  vertical-align: top;
  display: inline-block;


  @media (max-width: 490px) {
    width: 8%;
  }
}