/* --баннер-- */
@function grid-width($n) {
    $max: 12;
    $needleWidth: percentage( $n / $max );
    @return $needleWidth;
}

@mixin button__gradient__orange {
    $start: #FA9921;
    $end: #E55D20;
    background: linear-gradient(to bottom, $start 30%, $end 70%);
    background: -webkit-linear-gradient(to bottom, $start 30%, $end 70%);
    background: -moz-linear-gradient(to bottom, $start 30%, $end 70%);
    background: -o-linear-gradient(to bottom, $start 30%, $end 70%);
    background: -ms-linear-gradient(to bottom, $start 30%, $end 70%);
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, $start), color-stop(70%, $end));
}

$orange_travel_brands: #FFD782;
$orange_travel: #FFD782;
$orange_cruise: #FFD782;
$orange_hotel: #FFCC00;
$orange_car-rental: #FFD782;

$margin-left: 70px;

%product-name {
    width: 260px;
    font-weight: bold;
    margin-left: 70px;
    text-align: center;
    font-family: Tahoma;
    padding-bottom: 10px;
    color: $orange_travel;
    display: inline-block;
    @include font-size-point-300dpi( 4.5 );


    @media (max-width: 960px) {
        margin-left: 40px;
    }


	@media (max-width: 733px) {
        width: 160px;
        margin-left: 50px;
		@include font-size-point-300dpi( 3.5 );
	}


	@media (max-width: 492px) {
		width: 100%;
		margin-left: 0;
	}

	* {
		color: $orange_travel;
	}
}

%banner_background {
    background: url($folder_images + "save-on-travel-brands/turkish/turkish-airlines__banner.png") no-repeat scroll center transparent;
    background-size: cover;
    overflow: hidden;
}

%banner_after {
    content: '';
    top: 5%;
    z-index: 0;
    width: 55%;
    height: 302px;
    max-width: 544px;
    position: absolute;
    background-size: contain;
    @media (max-width: 733px) {
        width: 65%;
        min-width: 280px;
    }
    @media (max-width: 493px) {
        top: 0%;
        right: 20px;
    }
}

%banner_after_at_right {
    content: '';
    top: 5%;
    z-index: 0;
    width: 55%;
    height: 302px;
    max-width: 544px;
    position: absolute;
    background-size: contain;

    @media (max-width: 733px) {
        width: 60%;
    }
    @media (max-width: 650px) {
        width: 75%;
    }
    @media (max-width: 493px) {
        top: 0%;
        width: 90%;
    }
    @media (max-width: 400px) {
        top: 5%;
        width: 100%;
    }
}

.banner-container {

    width: 100%;
    display: inline-block;
    background-color: #00c2f6;
    font-size: 0;


    @media (max-width: 770px) {
        height: auto;
    }

    //@media (max-width: 733px) {
    //    background-position: 0 50px;
    //}


    &__block {
        //display: inline-block;
        width: 50%;
        z-index: 1;
        float: left;
        position: relative;
        vertical-align: top;
        padding: 20px 0 30px;
        box-sizing: border-box;

        &:after{
            content: "";
            width: 100%;
            height: 0;
            clear: both;
            display: block;
        }

        &_full {
            width: 100%;

            &>div {
                width: 100%;
            }

            .banner-container__block-title {


                @media (max-width: 960px) {
                    padding: 0 10px 5px 40px;
                }

                @media (max-width: 733px) {
                    padding: 0 10px 5px 20px;
                }
            }
        }
        
        &-title {
            color: #fff;
            @include font-size-point-300dpi( 5.2 );
            padding: 0 0 5px $margin-left;
            width: 330px;

            @media (max-width: 960px) {
                padding-left: 40px;
            }

            @media (max-width: 733px) {
                @include font-size-point-300dpi( 4.2 );
                padding-left: 20px;
                padding-right: 20px;
            }

            @media (max-width: 492px) {
                width: 100%;
            }

            span {
                color: #fff;
                font-weight: bold;
                @include font-size-point-300dpi( 5.6 );

                @media (max-width: 733px) {
                    @include font-size-point-300dpi( 4.6 );
                }
            }
			
			sup{
				color: #fff;
			}
        }

        &-product {
            background: url($folder_images + "save-on-travel__white-cicle-on-banner.png") transparent;
            background-size: contain;
            background-repeat: no-repeat;
            padding-bottom: 30px;
            background-position: -50px -10px;

            @media (max-width: 960px) {
                background-position: -80px -10px;
            }

            @media (max-width: 733px) {
                background-position: -60px -10px;
            }

            @media (max-width: 492px) {
                //padding-bottom: 15px;
                background-position: center bottom;
            }

            &-name {
				@extend %product-name ;

                &_travel-brands{
                    *{
                        color: $orange_travel_brands;
                    }
                    @media (max-width: 492px) {
                        text-align: left;
                    }
                }

                &_travel *{
					color: $orange_travel;
				}
				
                &_cruise *{
                    color: $orange_cruise;
                } 

                &_hotel *{
					color: $orange_hotel;
				}

                &_car-rental *{
                    color: $orange_car-rental;
                }
			}

            &-pic {
                padding: 0 0 15px;
                position: relative;
                text-align: left;
                margin-left: $margin-left;

                @media (max-width: 960px) {
                    margin-left: 40px;
                }

                @media (max-width: 733px) {
                    margin-left: 50px;
                }
                
                @media (max-width: 492px) {
                    text-align: center;
                    margin: 0;
                    &.left{
                        text-align: left;
                    }
                }


                .product-image-on-banner {
                    font-size: 14px;
                    @media (max-width: 733px) {
                        width: 160px;
                    }
                }


                .pic-banner {
                    @media only screen and (min-width: 493px) and (max-width: 733px) {
                        width: 90%;
                    }

                    @media (max-width: 492px) {
                        width: 40%;
                    }
                }
                &_choice {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 10px;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    @include sprite($save-on-travel-banner-choice);

                    @media (max-width: 733px) {
                        @include sprite($save-on-travel-banner-choice-sm);
                    }

                    //&:after {
                    //    content: '';
                    //    position: absolute;
                    //    margin-left: 10px;
                    //    @include sprite($save-on-travel-banner-choice);
                    //
                    //    @media (max-width: 733px) {
                    //        @include sprite($save-on-travel-banner-choice-sm);
                    //    }
                    //}
                }
            }


        }

        .brand_circle {

            &-star-alliance {

                &:before {
                    content: '';
                    top: 25%;
                    left: 80%;
                    width: 92px;
                    height: 92px;
                    border-radius: 50%;
                    position: absolute;
                    vertical-align: top;
                    display: inline-block;
                    background-color: rgba(6, 99, 186, 0.7686274509803922);
                    background-image: url($folder_images + "save-on-travel-brands/banner-brand_star-alliance.png");
                    background-repeat:  no-repeat;
                    background-position: 50%;


                    @media (max-width: 492px) {
                        top: 42%;
                        left: 75%;
                        width: 74px;
                        height: 74px;
                        background-size: 47px;
                    }
                }
            }

        }
        

        .button-container { 
            width: 260px;
            text-align: center;
            margin-left: $margin-left;

            @media (max-width: 960px) {
                margin-left: 40px;
            }


            @media (max-width: 733px) {
                width: 160px;
                margin-left: 50px;
            }


            @media (max-width: 492px) {
                margin: 0 auto;
            }
        }

        &_travel-brands{
            width: 100%;
            .banner-container__block-title{
                width: 100%;
                margin-bottom: 20px;
                @media (max-width: 492px) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .button-container{
                @media (max-width: 492px) {
                    margin: 0;
                }
            }
        }
        @media (max-width: 733px) {
            padding: 20px 0 0;
        }

        @media (max-width: 492px) {
            text-align: center;
            width: 100%;
            padding: 30px 0 0;
            &_travel-brands{
                text-align: left;
                width: 300px;
                margin: 0 auto;
                float: none;
            }
        }

        .button {
            width: 155px;
            height: 40px;
            border-radius: 10px;
            @include button__gradient__orange;
            border: none;
            color: #fff;
            @include font-size-point-300dpi( 4 );
            font-weight: bold;
            padding: 10px;

            * {
                color: #fff;
            }

            &:focus {
                outline: none; 
            }
        }

        &-brand {
            background: rgba(255, 255, 255, 0.81);
            width: 160px;
            height: 63px;
            text-align: center;
            margin-bottom: 7px;
            font-size: 14px;

            @media (max-width: 733px) {
                &:last-child {
                    display: none;
                }
            }

            @media (max-width: 492px) {
                //display: inline-block;
                float: left;
                width: grid-width(3);
                margin-bottom: 0;
                box-sizing: border-box;
            }

            &:after {
                content: '';
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            .brand-image {
                display: inline-block;
                vertical-align: middle;

                @media (max-width: 492px) {
                    width: 80%;
                    height: auto;
                }
            }

            &-align {
                //display: inline-block;
                float: right;
                &:after{
                    content: "";
                    width: 100%;
                    height: 0;
                    clear: both;
                    display: block;
                }
                @media (max-width: 492px) {
                    float: none;
                }
            }
        }
    }
}

.banner-container {
    position: relative;

    &_turkish-airlines {
        @extend %banner_background;
        &:after {
            @extend %banner_after;
            right: -50px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__turkish-airlines.png") no-repeat;
        }
    }

    &_eva_air {
        @extend %banner_background;
        &:after {
            @extend %banner_after;
            right: -50px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__eva_air.png") no-repeat;
        }
    }

    &_sun_country {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__sun_country.png") no-repeat;
        }
    }

    &_swiss {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__swiss.png") no-repeat;
        }
    }

    &_alaska {
        @extend %banner_background;
        &:after {
            @extend %banner_after;
            right: -20px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__Alaska-airlines.png") no-repeat;
        }
    }

    &_allegiant {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__Allegiant-airlines.png") no-repeat;
        }
    }

    &_british_airways {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__British-Airways.png") no-repeat;
        }
    }

    &_delta {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__Delta-airlines.png") no-repeat;
        }
    }

    &_emirates {
        @extend %banner_background;
        &:after {
            @extend %banner_after;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__Emirates.png") no-repeat;
        }
    }

    &_spirit {
        @extend %banner_background;
        &:after {
            @extend %banner_after;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__Spirit.png") no-repeat;
            @media (max-width: 493px) {
                top: 5%;
            }
        }
    }

    &_united {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__United-airlines.png") no-repeat;
        }
    }

    &_virgin_america {
        @extend %banner_background;
        &:after {
            @extend %banner_after;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__Virgin-America.png") no-repeat;
            @media (max-width: 493px) {
                top: 5%;
            }
        }
    }
	
	&_klm {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: -17px;
			top: 21%;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__klm.png") no-repeat;
			background-size: 100%;
        }
    }
	
	&_air-canada {
        @extend %banner_background;
        &:after {
            @extend %banner_after_at_right;
            right: 0px;
            background: url($folder_images + "save-on-travel-brands/turkish/save-on-travel-brands__air-canada.png") no-repeat;
			top: 17%;
			background-size: 100%;
			@media (max-width: 799px) {
                top: 14%;
            }
			@media (max-width: 500px) {
                right: -116px;
            }
        }
    }

    &_travel {
        background: url($folder_images + "save-on-travel__banner.png") no-repeat scroll center top transparent;
        background-size: cover;
    }

    &_cruise {
        background: url($folder_images + "discover_it_cruise.png") no-repeat scroll center top transparent;
        background-size: cover;
    }
    
    &_hotel {
        background: url($folder_images + "save-on-hotel__banner.png") no-repeat scroll center top transparent;
    }

    &_hotel {
        background: url($folder_images + "save-on-hotel__banner.png") no-repeat scroll center top transparent;
    }

    &_car-rental {
        background: url($folder_images + "save-on-car-rental__banner.png") no-repeat scroll center top transparent;
        background-size: cover;
    }

    &_southWest {
        background: url($folder_images + "save-on-travel__banner_southWest.png") no-repeat scroll center top transparent;
        background-size: cover;

        &:after {
            content: '';
            top: 24%;
            right: 0;
            z-index: 0;
            width: 450px;
            height: 190px;
            position: absolute;
            background: url($folder_images + "save-on-travel__air_southWest.png") no-repeat;
            background-size: cover;


            @media (max-width: 730px) {
                width: 300px;
                height: 130px;
            }
        }
    }

}
/* --баннер-- */
