
/* --блок с 3мя изображениями-- */


.content-container {
    box-sizing: border-box;
    text-align: center;
    padding: 10px 40px;
    display: inline-block;
    white-space: nowrap;
    width: 100%;

    * {
        white-space: normal;
        box-sizing: border-box;
    }

    @media (max-width: 960px) { 
        padding: 10px 20px;
    }

    @media (max-width: 320px) {
        padding: 10px;
    }


    &__header {
        padding: 40px 0px 20px;

        @media (max-width: 733px) {
            padding: 10px 0px 20px;
        }

        h2 {
            font-family: Tahoma;
            font-weight: normal;
            @include font-size-point-300dpi( 6 );

            @media (max-width: 733px) {
                @include font-size-point-300dpi( 4.7 );
            }
        }

        span {
            color: $orange;
            font-weight: bold;
            @include font-size-point-300dpi( 4.5 );
        }
    }

    &__block {
        width: grid-width(4);
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        padding: 10px 10px;

        @media (max-width: 492px) {
            width: 100%;
            display: block;
            padding: 10px 0;
            text-align: left;
        }

        @media (max-width: 320px) {
            white-space: normal;
        }

        // цифры в блоках
        $status-numbers: (
          first: '1',
          second: '2',
          third: '3',
        );
        
        @each $status, $number in $status-numbers {
            &_#{$status} {
                .text {
                    &:before {
                        content: $number;
                        @include font-size-point-300dpi( 11 );
                        display: inline-block;
                        font-family: 'Trebuchet MS';
                        color: #345E8C;
                        font-weight: bold;
                        vertical-align: top;
                        margin-right: 10px;
                        width: grid-width(1);

                        @media (max-width: 700px) {
                            width: grid-width(0.5);
                            @include font-size-point-300dpi( 7 );
                            padding-top: 10px;
                        }
    
                        @media (max-width: 492px) { 
                            display: none;
                        }
                    }
                }

                &:before{
                    @media (max-width: 492px) {
                        content: $number;
                        @include font-size-point-300dpi( 11 );
                        display: inline-block;
                        font-family: 'Trebuchet MS';
                        color: #345E8C;
                        font-weight: bold;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
        }
        // цифры в блоках

        &-image {
            text-align: center;

            @media (max-width: 492px) {
                width: 35%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }

            @media (max-width: 320px) {
                width: 75%;
            }

            img {
                width: 100%;
            }
        }
        .text {
            display:inline-block;
            width: 100%;
            @include font-size-point-300dpi( 3.5 );
            text-align: left;
            vertical-align: top;
            padding-top: 15px;

            @media (max-width: 733px) {
                @include font-size-point-300dpi( 3.5 );
            }

            @media (max-width: 492px) {
                width: 50%;
                text-align: justify;
                padding: 10px;
                vertical-align: middle;
            }

            @media (max-width: 320px) {
                display: block;
                width: 100%;
                text-align: left;
                padding: 10px 10px 10px 42px;
            }
            p {
                width: grid-width(10);
                display: inline-block;
            }
        }
    }

    &__wrapper-block {
        width: 100%;
        margin: 40px 0px 20px;
    }
    
    &__button {
        margin: 20px 0;
        width: 260px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #345E8C;
        @include font-size-point-300dpi( 4.5 );
        color: #fff;
        padding: 20px;
        
        
        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #4EA8E1;
        }
    }

}

/* --блок с 3мя изображениями-- */
