/* --блок рекламы-- */
%popup-call_after_image {
	width: 100%;
	height: 40px;
	background-color: #59BAEC;
	border: none;
	color: #fff;
	font-weight: bold;

	&:focus {
		outline: none;
	}

	&:hover:not(.no-active){
		background-color: #3693D6;
	}
}
%popup-call_after_image_block{
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: -25px;
	margin-left: 10px;
}

.advertising-container {
    font-size: 0px;
    padding: 0 10px;
    display: inline-block;
    width: 100%;

    * {
        box-sizing: border-box;
        font-size: 1rem;
        font-family: tahoma;
    }

    span {
        color: $orange;
        font-weight: bold;
        @include font-size-point-300dpi(3.5);
    }


    &__header {
        text-align: center;
        padding-bottom: 30px;
    
        h2 {
            font-weight: normal;
            @include font-size-point-300dpi(6);
            padding-bottom: 10px;

            @media (max-width: 733px) {
                @include font-size-point-300dpi(5);
            }
        }

        @media (max-width: 733px) {
            padding-bottom: 0px;
        }

    }

    &__block {
        width: grid-width(4);
        display: inline-block;
        white-space: nowrap;
        padding: 10px 10px 0 10px;

        @media (max-width: 733px) {
            width: 350px;
            margin: 0px auto;
            display: block;
            padding: 40px 0px 0px 0px;
        }      

        @media (max-width: 400px) {
            width: 100%;
        }

        &:first-child {
            @media (max-width: 733px) {
                padding-top: 0;
            }
        }

        &:last-child {

            @media (min-width: 734px) {
                margin-right: 0;
            }
            
            @media (max-width: 733px) {
                margin-right: auto;
            }
        }


        *{
            white-space: normal;
        }

        &-offer {
            border: 1px solid #C4EEFF;
        }

        .title {
            padding: 25px 60px 15px;
            text-align: center;
            font-weight: bold;
            position: relative;
            width: 100%;

            @media (max-width: 960px) {
                padding: 25px 20px 15px;
            }

            .text {
                @include font-size-point-300dpi(4.3);
                color: #333333;
                display: inline-block;
                vertical-align: middle;
            }


            &:before {
                content: '';
                left: grid-width(5);
                position: absolute;
                width: 35px;
                height: 34px;
                top: -20px;
                background: url($folder_images + "save-on-travel__advertising-title-icon.png")  no-repeat scroll center top transparent;

                @media (max-width: 733px) {
                    // left: 50%;
                }
            }

            &:after {
                content: '';
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .image {
            text-align: center;
            cursor: pointer;
            &.no-active{
                cursor: default;
            }
            img {
                width: 100%;
            }
        }
        .description {
            padding: 20px 15px;
            text-align: center;

            p {
                margin-top: 5px;
            }
        }

        .popup-call {
			&_cruise, &_cruise_with_icons{
                @extend %popup-call_after_image;            
                &:after {
                    @extend %popup-call_after_image_block;                          
                    @include sprite($save-on-travel-ability-block-button-cruise-icon);                  
                }
            }
            &_hotel {
				@extend %popup-call_after_image;			
				&:after {
					@extend %popup-call_after_image_block;							
					@include sprite($save-on-travel-ability-block-button-hotel-icon);					
				}
			}
			&_travel{
				@extend %popup-call_after_image;
				&:after {
					@extend %popup-call_after_image_block;
					@include sprite($save-on-travel-ability-block-button-fly-icon);
				}
                &.no-active{
                    cursor: default;
                }
			}
            &_car-rental{
              @extend %popup-call_after_image;
              &:after {
                @extend %popup-call_after_image_block;
                @include sprite($save-on-travel-ability-block-button-car-rental-icon);
              }
            }
        }
    }
}

/* --блок рекламы-- */
