/* --блок возможностей использования -- */
.ability-container {
    font-size: 0px;
    padding: 20px 10px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;

    @media (max-width: 320px) {
        white-space: normal;
    }

    * {
        box-sizing: border-box;
        font-size: 1rem;
        font-family: tahoma;
        white-space: normal;
    }


    
    &__header {
        text-align: center;
        padding-bottom: 40px;
    
        h2 {
            font-weight: normal;
            @include font-size-point-300dpi(6);

            @media (max-width: 733px) {
                @include font-size-point-300dpi( 4.7 );
            }
        }
    }

    &__block {
        width: grid-width(3);
        display: inline-block;
        text-align: center;
        vertical-align: top;

        @media (max-width: 320px) {
            width: 50%;
            padding: 15px 0;
        }

        &-image {
            padding: 0 5px;
            
            img {

                @media (max-width: 680px) {
                    width: 100%;
                }
            }
        }

        &-title {
            padding-top: 30px;
            @include font-size-point-300dpi(4.3);

            @media (max-width: 492px) {
                @include font-size-point-300dpi(3.5);
            }
        }
    }

}

/* --блок возможностей использования -- */
