.useful-container {
    text-align: center;
    font-size: 0;
    font-family: 'SegoeUIRegular';
    padding: 20px 0px;
    border-bottom: 1px solid #e6e6e6;

    * {
        box-sizing: border-box;
    }

    &__title {
        @include font-size-point-300dpi( 7 );
        padding: 20px 15px;

        h3 {
            margin: 0;
            font-weight: normal;
        }
    }

    &__block {
        display: inline-block;
        padding: 10px 15px;
        width: calc(960px/3);
        vertical-align: top;

        &-icon {
            margin: 0px auto 10px;
        }
        &-icon_annual-fee {
            @include sprite($infographics-useful-annual-fee);
        }
        &-icon_reward {
            @include sprite($infographics-useful-rewards);
        }
        &-icon_airline {
            @include sprite($infographics-useful-air-miles);
        }

        &-description {
            @include font-size-point-300dpi( 4 );
            text-rendering:optimizeLegibility;
            font-weight: 400;
            text-decoration: underline;
            color: #333333;
            width: 130px;
            display: inline-block;
        }
    }
}
