.compare-table-container {
    background-color: #fff;
    font-size: 0;
    padding-top: 80px;
    position: relative;

background: #d8ebfa;
background: -moz-linear-gradient(top, #fff, #d8ebfa 39%, #d8ebfa 67%, #d8ebfa 100%);
background: -webkit-gradient(left top, left bottom, color-stop(32%, #d8ebfa), color-stop(39%, #d8ebfa), color-stop(67%, #d8ebfa), color-stop(100%, #d8ebfa));
background: -webkit-linear-gradient(top, #fff, #d8ebfa 39%, #d8ebfa 67%, #d8ebfa 100%);
background: -o-linear-gradient(top, #fff, #d8ebfa 39%, #d8ebfa 67%, #d8ebfa 100%);
background: -ms-linear-gradient(top, #fff, #d8ebfa 39%, #d8ebfa 67%, #d8ebfa 100%);
background: linear-gradient(to bottom, #fff, #d8ebfa 39%, #d8ebfa 67%, #d8ebfa 100%);

    *{
        box-sizing: border-box;
    }

    &:before {
        content: '';
        left: 0;
        top: -64px;
        width: 100%;
        height: 100%;
        position: absolute;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url($folder_images + "infographics__compare-container.png");
    }

    &__block-ticket {
        width: 400px;
        display: inline-block;
        position: relative;
        font-size: 1rem;
        margin-left: 40px;
        z-index: 3;

        &-title {
            background-color: #ffcc66;
            height: 40px;
            position: relative;
            border-radius: 10px 10px 0px 0px;
            z-index: 2;

            &:before {
                content: '';
                display: inline-block;
                height: 20px;
                position: absolute;
                right: 126px;
                border-left: 1px dashed #ffdc96;
                top: 14px;
            }

            &:after {
                content: '';
                display: inline-block;
                background-color: #e3a02c;
                width: 20px;
                height: 14px;
                position: absolute;
                right: 115px;
                border-radius: 0px 0px 10px 10px;
            }

            &-icon {
                position: absolute;
                left: 15px;
                top: 8px;
                @include sprite($infographics-compare-table-airline);
            }
        }

        &-body {
            background-color: #f7f2dc;
            position: relative;
            border-radius: 0px 0px 10px 10px;
            z-index: 2;

            &:after {
                content: '';
                display: inline-block;
                background-color: #d8ebfa;
                width: 20px;
                height: 14px;
                position: absolute;
                right: 115px;
                border-radius: 10px 10px 0px 0px;
                bottom: 0;
            }

            &-description {
                width: 274px;
                display: inline-block;
                padding: 6px 20px 6px 10px;
                vertical-align: middle;
                border-right: 1px dashed #ffdc96;

                &-content {
                    font-size: 13px;
                    color: #0773BA;
                    background-color: #fff;
                    padding: 10px;
                    margin: 4px 0px;

                    span {
                        color: #ff6633;
                        font-weight: bold;
                    }
                }
            }

            &-tear-off {
                display: inline-block;
                width: 96px;
                color: #FF9933;
                background-color: #fff;
                padding: 25px 5px 10px;
                height: 105px;
                vertical-align: middle;
                text-align: center;
                margin-left: 15px;

                span {
                    color: #ff6633;
                }
            }
        }

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            background-color: #fff;
            width: 20px;
            height: 14px;
            z-index: 2;
            right: 113px;
            top: -30px;
            border-radius: 0px 0px 10px 10px;
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            z-index: 1;
            width: 100%;
            transform: rotate(-6deg);
            background-color: #e3a02c;
            top: -21px;
            height: 164px;
            border-radius: 10px;
            left: 6px;
        }
    }

    &__block-text {
        display: inline-block;
        width: 510px;
        padding: 60px 20px 10px 140px;
        vertical-align: top;
        position: relative;
        z-index: 3;
    }

    &__block-table {
        width: 850px;
        border: 4px solid #ff9933;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        margin: 0 auto;

        &:before {
            content: '';
            background-image: url($folder_images + "infographics__compare-table.png");
            position: absolute;
            width: 436px;
            height: 213px;
            background-repeat: no-repeat;
            top: -217px;
            z-index: -1;
            left: 100px;
        }

        &-title {
            width: 100%;
            display: inline-block;
            padding: 0px 150px;
            text-align: center;
            color: #EF7F1A;
            background-color: #FFFCE8;
            position: relative;
            border-radius: 10px 10px 0px 0px;

            &:before {
                content:'';
                top: 15px;
                left: 50px;
                position: absolute;
                @include sprite($infographics-owl-compare-table);
            }

            h2 {
                font-family: Georgia;
                @include font-size-point-300dpi( 5.8 );
                font-weight: normal;
            }

        }

        &-body {
            font-size: 0;
            padding-top: 10px;
            background-color: #fff;
            border-radius: 0px 0px 10px 10px;

            * {
                @include font-size-point-300dpi( 3.8 );
            }

            &-attribute {
                width: 125px;
                display: inline-block;
                padding: 10px 0px 10px;
                vertical-align: bottom;

                &-title {
                    color: #1070B0;
                    text-align: right;
                    font-weight: bold;
                    padding-top: 15px;
                    padding-left: 30px;
                }
            }

            &-card {
                display: inline-block;
                vertical-align: top;
                text-align: center;
                padding: 10px 15px 10px;
                color: #4D4D4D;

                &-name {

                    a {
                        color: #1070B0;
                        font-weight: bold;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &-pic {
                    padding-top: 15px;
                }

                &-attribute {
                    text-align: left;
                    padding-left: 30px;
                    padding-top: 15px;
                }
            }

            &-card_block_3 {
                width: 236px;
            }
        }
    }
}
