.journey-container {
    display: inline-block;
    width: 100%;
    text-align: right;
    position: relative;
    min-height: 600px;
    background-color: #d6e5f5;

    * {
        box-sizing: border-box;
    }

    &:before {
        content: '';
        left: 0;
        top: -64px;
        width: 100%;
        height: 664px;
        position: absolute;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: -170px -60px;
        background-image: url($folder_images + "infographics__journey.png");
    }


    &__content {
        width: 400px;
        text-align: left;
        padding-top: 75px;
        display: inline-block;

        &-block-text {
            position: relative;
        }

        &-block-card {
            padding-top: 15px;
            padding-left: 20px;

            &-pic {
                width: 253px;
                position: relative;
            }

            &-apply {
                width: 253px;
                padding-top: 30px;
                position: relative;
                border-radius: 5px;
                box-shadow: 0px 3px 1px -1px #AAB8C2;

                :before {
                    content: '';
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &-button {
                display: inline-block;
                width: 253px;
                height: 70px;
                background-color: #FF6633;
                text-align: center;
                padding: 10px 0px;
                color: #fff;
                border-radius: 5px;
                vertical-align: middle;
                @include font-size-point-300dpi( 5 );

                &:hover {
                    background-color: #EF7F1A;
                }
            }
        }
    }

}
