.travel-container {
    font-size: 0;
    background-repeat: no-repeat;
    background-color: #fff;
    position: relative;
    padding-top: 60px;


    * {
        box-sizing: border-box;
    }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        background: url(../../build/images/infographics__travel-container.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 130%;
        left: 0px;
        top: -167px;
    }

    &__block-text {
        width: 340px;
        margin-left: 100px;
        min-height: 235px;
        line-height: 1.3;
        display: inline-block;
    }

    &__block-text-m-l_50 {
        margin-left: 50px;
    }

    &__block-text-p-t_90 {
        padding-top: 90px;
    }

    &__block-airline {
        height: 180px;
        // background: url($folder_images + "infographics__travel_airline.png") transparent;
        // background-repeat: no-repeat;
        // background-position: 257px 60px;
        position: relative;

        &:before {
            content: '';
            width: 270px;
            height: inherit;
            position: absolute;
            z-index: 2;
            top: 77px;
            left: 257px;
            background: url($folder_images + "infographics__travel_airline.png") transparent;
            background-repeat: no-repeat;
        }

        &:after {
            content: '';
            top: 100px;
            left: 462px;
            width: 491px;
            height: 360px;
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-image: url($folder_images + "infographics__travel-container-traveler.png");

        }
    }

    &__table {
        width: 900px;
        margin: 0 auto;
        border: 4px solid #ff9933;
        border-radius: 10px;
        position: relative;
        z-index: 1;

        &-title {
            text-align: center;
            background-color: #FFFCE8;
            display: inline-block;
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            color: #EF7F1A;

            h2 {
                font-family: Georgia;
                @include font-size-point-300dpi( 7.05 );
                font-weight: normal;
            }
        }

        &-body {

            &-sub {
                padding: 15px 0px;

                &-title {
                    text-align: center;
                    color: #1070B0;
                    padding: 15px 180px;
                    @include font-size-point-300dpi( 4.581 );

                    &:before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 15px;
                        top: 5px;
                        @include sprite($infographics-owl-destinations);                        
                    }

                    a {
                        color: #1070B0;
                        font-weight: bold;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                &-container {

                    &-block {
                        width: 49.9%;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;

                        &:before {
                            content: '';
                            display: inline-block;
                            @include sprite($infographics-curve);
                            top: 40px;
                            position: absolute;
                            left: 141px;
                        }

                        &-top {
                            @include font-size-point-300dpi( 3 );
                            width: 82px;
                            height: 80px;
                            background-color: #68ACD9;
                            border-radius: 40px;
                            padding: 20px 10px 10px;
                            text-align: center;
                            color: #fff;
                            margin: 0 auto;
                            position: relative;

                        }

                        &-bottom {
                            display: inline-block;
                            width: 49.9%;
                        }

                        &-bottom_los-angeles {
                            &:before {
                                content: '';
                                display: inline-block;
                                position: relative;
                                left: 35%;
                                @include sprite($infographics-travel-los-angeles);
                            }

                            &:after {
                                content: 'Los Angeles';
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: #1C4370;
                                font-weight: 700;
                                padding-top: 10px;
                                @include font-size-point-300dpi( 3.563 );
                            }
                        }

                        &-bottom_new-york {
                            
                            &:before {
                                content: '';
                                display: inline-block;
                                position: relative;
                                left: 35%;
                                @include sprite($infographics-travel-new-york);
                            }

                            &:after {
                                content: 'New York';
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: #1C4370;
                                font-weight: 700;
                                padding-top: 10px;
                                @include font-size-point-300dpi( 3.563 );
                            }
                        }       

                        &-bottom_san-francisco {
                            
                            &:before {
                                content: '';
                                display: inline-block;
                                position: relative;
                                left: 35%;
                                @include sprite($infographics-travel-san-francisco);
                            }

                            &:after {
                                content: 'San Francisco';
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: #1C4370;
                                font-weight: 700;
                                padding-top: 10px;
                                @include font-size-point-300dpi( 3.563 );
                            }
                        }                        

                        &-bottom_london {
                            
                            &:before {
                                content: '';
                                display: inline-block;
                                position: relative;
                                left: 35%;
                                @include sprite($infographics-travel-london);
                            }

                            &:after {
                                content: 'London';
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: #1C4370;
                                font-weight: 700;
                                padding-top: 10px;
                                @include font-size-point-300dpi( 3.563 );
                            }
                        }                        

                        &-bottom_chicago {
                            &:before {
                                content: '';
                                display: inline-block;
                                position: relative;
                                left: 35%;
                                @include sprite($infographics-travel-chicago);
                            }

                            &:after {
                                content: 'Chicago';
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: #1C4370;
                                font-weight: 700;
                                padding-top: 10px;
                                @include font-size-point-300dpi( 3.563 );
                            }
                        }                        

                        &-bottom_sydney {
                            &:before {
                                content: '';
                                display: inline-block;
                                position: relative;
                                left: 35%;
                                @include sprite($infographics-travel-sydney);
                            }

                            &:after {
                                content: 'Sydney';
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                color: #1C4370;
                                font-weight: 700;
                                padding-top: 10px;
                                @include font-size-point-300dpi( 3.563 );
                            }
                        }
                    }
                }

                &:nth-child(odd) {
                    background-color: #fff;
                }

                &:nth-child(even) {
                    background-color: #FFFCE8;
                }
                &:last-child {
                    border-radius: 0px 0px 10px 10px;
                }
            }
        }
    }
}
