.title-container {
    background-color: #6bbee7;
    display: inline-block;
    width: 100%;
    min-height: 160px;
    font-size: 0;

    * {
        box-sizing: border-box;
    }

    &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 100px;
        @include sprite($infographics-intro-baloons);
    }
    
    &__intro {
        width: 390px;
        margin-left: 270px;
        font-size: 0;
        min-height: 120px;
        display: inline-block;

        * {
            vertical-align: middle;
        }

        h2 {
            color: #fff;
            width: auto;
            display: inline-block;
            margin-bottom: 0;
            margin-top: 45px;
            font-family: 'arial narrow';
            @include font-size-point-300dpi( 7 );
        }

        &-text {
            display: inline-block;
            font-family: 'arial narrow';
            @include font-size-point-300dpi( 7 );
        }

        &-text_number {  
            position: absolute;  
            left: 185px;    
            color: #1070b0;   
            font-weight: bold;
            font-family: Tahoma;
            @include font-size-point-300dpi( 29.054 );
        }

        &-text_blue {
            color: #1070b0;
            width: auto;
            font-weight: bold;
        }

        &-text_lemon {
            color: #FFE185;
            width: auto;
            display: inline-block;
        }
    }

}

.compare-container {
    background-color: #6bbee7;
    padding: 20px 10px 100px 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin-top: -1px;
    font-size: 0;


    * {
        box-sizing: border-box;
    }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        background: url($folder_images + "infographics__compare-container.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 389px;
        left: 0;
        top: -130px;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        background: url($folder_images + "infographics__compare-container_after.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        left: 0;
        bottom: -10px;
        z-index: -1;
    }

    &__card {

        width: 30%;
        display: inline-block;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        position: relative;
        vertical-align: middle;
        cursor: pointer;


        &-title {
            @include font-size-point-300dpi( 3.8 );
        }

        &-title_color_dark-blue { 
            background-color: #64ADDD; 
        }

        &-title_color_white-blue { 
            background-color: #5BB9F7;
        }

        &-description {
            padding: 0px 20px;
            text-align: left;
            @include font-size-point-300dpi( 3.5 );

            &:before {
                display: inline-block;
                padding-right: 15px;
                @include font-size-point-300dpi( 4.554 );
            }
        }

        &-description_plus {

            &:before{
                content: "+";
            }

            &:first-child {
                padding-top: 10px;
            }

            &:last-child {
                padding-bottom: 10px;
            }
        }        

        &-description_minus {

            &:before {
                content: "-";
                padding-left: 2px;
                padding-right: 18px;
            }
        }

        &-versus {
            color: #1A5D8A;
            width: auto;
            display: inline-block;
            padding: 0px 10px;
            position: relative;
            vertical-align: middle;
            @include font-size-point-300dpi( 7.764 );
        }

        &:after {
            content: '';
            position: absolute;
            // width: 100%;
            // height: 23px;
            // left: 0px;
            // -moz-border-radius: 100px / 50px;
            // -webkit-border-radius: 100px / 50px;
            // border-radius: 490px / 50px;
            // z-index: -1;
            // bottom: 0px;
            // box-shadow: 0px 12px 0px 14px rgba(147,168,186,1);
            left: -15px;
            z-index: -1;
            @include sprite($infographics-intro-card-shadow);
        }
    }

    &__card_color_dark-blue {
        background-color: #196FA8;
    }

    &__card_color_white-blue {
        background-color: #4A7FA3;
    }
    
    &__text {
        width: 260px;
        display: inline-block;
        padding: 10px 10px 10px 35px;
        vertical-align: top;
        font-size: 0;
    }
}
