.utility-container {
    display: inline-block;
    font-size: 0;
    position: relative;
    background-color: #fff;

    * {
        box-sizing: border-box;
    }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        background: url(../../build/images/infographics__utility-container.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 820px;
        left: 0px;
        top: -135px;
        z-index: 1;
    }

    &__block-text {
        width: 420px;
        display: inline-block;
        vertical-align: text-top;
        padding: 10px 10px 30px 40px;
        margin-top: -50px;
    }

    &__block-tip {
        display: inline-block;
        position: relative;

        &-container {
            color: #4d4d4d;
            font-style: italic;
            @include font-size-point-300dpi( 3.8 );
            width: 256px;
            height: 145px;
            display: inline-block;
            position: relative;
            top: 122px;
            left: 124px;
            padding: 15px;
            z-index: 1;
            line-height: 1;
            
            a {
                color: #FF6633;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                color: #FF6633;
                font-weight: bold;
            }

        }
    }

    &__block-reference {
        border: 4px solid #ff9933;
        width: 670px;
        height: 300px;
        display: inline-block;
        border-radius: 10px;
        background-color: #fff;
        position: relative;
        z-index: 2;
        margin-left: 30px;
        margin-top: 15px;
        text-align: center;

        &-title {
            background-color: #FFFCE8;
            color: #EF7F1A;
            text-align: center;
            padding: 0px 15px;
            display: inline-block;
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            position: relative;
            font-family: Georgia;
            
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 15px;
                top: 30px;
                @include sprite($infographics-owl-reference);
            }
            
            h2 {
                @include font-size-point-300dpi( 7.05 );
                font-weight: normal;
            }
        }

        &-container {
            border-radius: 0px 0px 10px 10px;  
            display: inline-block;
            width: 189px;
            padding: 10px 8px;
            margin: 0px 5px;
            text-align: center;
            color: #4d4d4d;
            vertical-align: middle;
            min-height: 180px;

            &-pic {
                display: inline-block;
                margin: 5px 5px 15px;

                &_KLM {
                    @include sprite($infographics-airlines-klm);
                }                
                &_american {
                    @include sprite($infographics-airlines-american);
                }                
                &_alaska {
                    @include sprite($infographics-airlines-alaska);
                }
            } 

            &-description {
                @include font-size-point-300dpi( 3.8 );
            }
        }
    }
}
