.purchase-container {
    position: relative;
    font-size: 0;
    padding: 0px 0px 10px 40px;
    background-color: #fff;

    * {
        box-sizing: border-box;
        // font-size: 1rem;
    }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        background: url($folder_images + "infographics__purchase-container.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 559px;
        left: 0px;
        top: -184px;
    }

    &__text {
        width: 370px;
        display: inline-block;
    }

    &__block {
        display: inline-block;
        vertical-align: top;
        width: 320px;
        position: relative;
    }

    &__block-ball {
        width: 320px;
        height: 320px;
        display: inline-block;
        background: #f8b147;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 160px;
        color: #fff;
        padding: 30px 20px 10px;
        text-align: center;
        font-weight: bold;
        @include font-size-point-300dpi( 4.375 );
        position: relative;
        z-index: 2;

        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            background: url($folder_images + "infographics__ball.png");
            background-repeat: no-repeat;
            width: 100%;
            height: 90px;
            z-index: 2;
            margin-top: 50px;
            background-position: 50% 0;
            left: 20px;
            bottom: -81px;
        }

        &-title {
            padding: 10px 30px 10px;
        }

        &-card-image {
            width: 160px;
            height: 100px;
            margin: 0 auto;

            &:after {
                content: '';            
                background-color: #ffdc96;
                width: 167px;
                height: 104px;
                margin: 0 auto;
                border-radius: 10px;
                @include rotate(-5);
                display: inline-block;
                left: 76px;
                z-index: -1;
                position: absolute;
                top: 70px;
            }
        }

        &-card-attribute {
            padding: 15px 20px 10px;
            font-family: Verdana;
            position: relative;
            font-weight: normal;
            font-style: italic;
        }
    }
}
