/*-- конфиги -- */
@import 'base.scss';
/*----*/

/* --  -- */
@import 'partials/header';
@import 'partials/header-adaptive';

@import 'fonts';
@import 'partials/common__breadcrumbs';

.gas-calculator-grid {
  width: 960px;
  margin: 0 auto;
  color: #333333;
  box-shadow: 0 10px 10px 5px #C5C1C1;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 960px) {
    width: 100%;
  }

  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: SegoeUIRegular;
  }
}

@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__banner';

.calculator {
  width: 100%;
  color: #fff;
  display: inline-block;

  h3 {
    margin: 0;
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    background-color: #4D4D4D;


    @media(max-width: 584px) {
      font-size: 14px;
    }

    @media(max-width: 449px) {
      font-size: 12px;
      text-align: center;
    }
  }

  &__error {
    opacity: 0;
    width: 100%;
    display: block;
    color: #FF6363;
    font-size: 16px;
  }

  &__under {
    width: 100%;
    height: 22px;
    background: transparent url($folder_images + "gas-calculator/title-bg.png") no-repeat scroll 0 -1px;
    background-size: 100%;

  }
}

.calculator__content {
  overflow: hidden;
  position: relative;
  padding: 0 20px 30px;
  background-color: #666666;
  counter-reset: number;

  &>div {


    @media (max-width: 450px) {
      width: 80%;
      display: inline-block;
    }
  }

  i {
    display: none;


    @media (max-width: 450px) {
      width: 20%;
      color: #FFC447;
      cursor: pointer;
      font-size: 50px;
      line-height: 1.2em;
      position: absolute;
      text-align: center;
      display: inline-block;
    }


    &.opened:before {
      transform: scale(1, -1);
      -o-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      -moz-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
    }
  }

}

.calculator__field {
  width: 33%;
  padding: 20px 10px;
  position: relative;
  display: inline-block;


  @media(max-width: 450px) {
    width: 100%;
    text-align: center;
  }

  label {
    display: block;
    font-size: 16px;
    padding-bottom: 5px;


    @media(max-width: 584px) {
      font-size: 12px;
    }

    @media(max-width: 450px) {
      font-size: 14px;
    }
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }

  &-error {
    color: #FF6363;
    display: block;
    font-size: 13px;
    margin-top: 5px;
    position: absolute;


    @media(max-width: 585px) {
      font-size: 12px;
    }

    &>span {
      display: inline-block;
    }
  }

  &.hide {
    display: none;
  }
}