/*-- конфиги -- */
@import 'base.scss';
/*----*/

/* --  -- */
@import "../../lib/components/bootstrap-3/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import '../../lib/components/bootstrap-3/assets/stylesheets/bootstrap/component-animations.scss';



%cross-on-subclass-close {
  width: 3px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 2px;
  background-color: #FBB31E;


  @media (max-width: 450px) {
    height: 15px;
  }
}

.font-load {
  font-family: SegoeUIBold;
  width: 0;
  height: 0;
  position: absolute;
}

.compared {
  font-size: 0;
  background-color: #F4F5F7;

  &__title {
    margin: 0;
    width: 50%;
    color: #FD3431;
    font-size: 24px;
    text-align: center;
    vertical-align: top;
    font-weight: normal;
    display: inline-block;
    padding: 10px 8% 5px;


    @media (max-width: 800px) {
      font-size: 18px;
    }

    @media (max-width: 585px) {
      font-size: 14px;
    }
  }

  &__cents {
    width: 15%;
    line-height: 0;
    font-size: 44px;
    display: inline-block;
    vertical-align: middle;


    @media (max-width: 960px) {
      font-size: 5.3vw;
    }
  }

  .compared__product-icon {
    color: #FD3431;

    &_bad {
      color: #FBA11F;
    }
  }

  &__container {
    padding: 20px 0;
  }

  &__limitation {
    color: #333333;
    padding: 20px 0;
    background: #fff;
    margin: 0 2% 50px;
    border-radius: 7px;
    border: 1px solid #cdcdcd;

    span{
      width: 100%;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      padding: 10px 10px 20px;


      @media(max-width: 584px) {
        font-size: 2.3vw;
      }

      @media(max-width: 550px) {
        font-size: 12px;
      }
    }

    &>div {
      width: 50%;
      font-size: 16px;
      padding: 0 20px;
      position: relative;
      vertical-align: top;
      display: inline-block;


      @media(max-width: 800px) {
        font-size: 2vw;
      }

      @media(max-width: 650px) {
        font-size: 2.3vw;
      }

      @media(max-width: 584px) {
        font-size: 13px;
      }

      @media(max-width: 500px) {
        padding: 0 5px;
      }

      .text{

        &_apply{
          color: #FD3431;
        }
      }
    }

    .text {
      width: 80%;
      text-align: justify;
      display: inline-block;
      vertical-align: middle;


      @media (max-width: 500px) {
        width: 70%;
      }

      //&_red {
      //  color: #FD3431;
      //}
    }

    .apply {
      width: 20%;
      padding-right: 15px;
      display: inline-block;
      vertical-align: top;


      @media (max-width: 500px) {
        width: 25%;
        padding-right: 0;
      }

      &:before {
        content: '';
        width: 100%;
        height: 69px;
        display: inline-block;
        background-image: url($folder_images + "gas-calculator/sign_general.png");
        background-repeat: no-repeat;
        background-size: contain;


        @media (max-width: 550px) {
          width: 30px;
          height: 30px;
        }
      }
    }
    .nonapply {
      width: 20%;
      padding-right: 15px;
      display: inline-block;
      vertical-align: middle;


      @media (max-width: 800px) {
        vertical-align: top;
      }

      @media (max-width: 500px) {
        width: 25%;
        padding-right: 0;
      }

      &:before {
        content: '';
        width: 100%;
        height: 69px;
        display: inline-block;
        background-image: url($folder_images + "gas-calculator/sign_warn.png");
        background-repeat: no-repeat;
        background-size: contain;


        @media (max-width: 550px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

}

.compared__product {
  position: relative;

  &>div {
    position: relative;
  }

  h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    background-size: cover;
    background-image: url($folder_images + "gas-calculator/gas__tyer.png");

    span {
      padding: 10px 25px;
      display: inline-block;
      background-color: #F4F5F7;


      @media (max-width: 800px) {
        padding: 5px 10px;
      }
    }

    &.compared__product-finish {
      background-size: contain;
      background-image: url($folder_images + "gas-calculator/gas__banner_under.png");

      span {
        padding: 0 20px;
      }
    }


    @media (max-width: 800px) {
      font-size: 14px;
      font-size: 2vw;
    }

    @media (max-width: 680px) {
      font-size: 2.4vw;
    }

    @media (max-width: 580px) {
      font-size: 2.7vw;
    }

    @media (max-width: 490px) {
      font-size: 12px;
    }
  }

  &-string {
    width: 100% !important;
  }

  &-string-container {
    width: 85%;
    display: inline-block;
    vertical-align: middle;
  }

  &-string-text {
    display: inline;
  }


  &-icon {
    &_bad {
      &:before {
        transform: scale(1, -1);
      }
    }
  }

  &-name {
    width: 50%;
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    vertical-align: top;
    padding: 0 10px 10px;
    display: inline-block;

    a {
      color: #333333;

      &:hover {
        text-decoration: underline;
      }
    }


    @media (max-width: 580px) {
      font-size: 13px;
    }

    @media (max-width: 450px) {
      font-size: 14px;
    }
  }

  &-view {
    width: 50%;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;

    a{
      position: relative;
      display: inline-block;
    }

    &:nth-child(odd) {

      &:after {
        content: "VS";
        top: 25%;
        left: 94%;
        color: #FD3431;
        font-size: 39px;
        position: absolute;


        @media (max-width: 584px) {
          font-size: 22px;
        }
      }
    }

    img {
      position: relative;


      @media(max-width: 770px) {
        width: 70%;
      }

      @media(max-width: 770px) {
        width: 60%;
      }
    }

    &_lost {
      img {
        width: 160px;


        @media(max-width: 770px) {
          width: 45%;
        }
      }

      &:after {
        display: none;
      }
    }

    &_winner {
      position: relative;

      a {
        &:before {
          content: '';
          left: 0;
          top: -40%;
          z-index: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url($folder_images + "gas-calculator/gas__calculate-winner.png");


          @media (min-width: 770px) {
            left: -20%;
            width: 150%;
          }
        }
      }

      &:after {
        display: none;
      }
    }
  }

  &-block {
    width: 50%;
    vertical-align: top;
    display: inline-block;

    &-row {
      position: relative;

      &>div {
        font-weight: 900;
        display: inline-block;
      }
    }

    &-title {
      color: #333;
    }

    .calculate-question {
      width: 32px;
      height: 35px;
      cursor: pointer;
      margin-left: 5px;
      position: relative;
      display: inline-block;
      vertical-align: bottom;

      &:before {
        content: '';
        width: 100%;
        height: inherit;
        display: inline-block;

        background: url($folder_images + "gas-calculator/calculate-question.png") transparent;
        background-repeat: no-repeat;
        background-size: cover;
      }


      @media(max-width: 700px) {
        width: 25px;
        height: 27px;
      }

      @media(max-width: 584px) {
        width: 17px;
        height: 18px;
      }
    }

    &>div {
      width: 85%;
      font-size: 24px;
      padding: 5px 10px;
      display: inline-block;
      vertical-align: middle;


      @media(max-width: 960px) {
        font-size: 20px;
        font-size: 2.7vw;
      }

      @media(max-width: 584px) {
        font-size: 13px;
      }
    }

    &:nth-child(even) {
      box-shadow: inset 1px 0 0 0 #fff;
    }

    &:nth-child(odd) {
      box-shadow: inset -1px 0 0 0 #fff;
    }

    &>i {
      width: 15%;
      font-size: 44px;
      line-height: 1em;
      padding: 0 0 0 10px;
      display: inline-block;
      vertical-align: middle;


      @media (max-width:  960px) {
        font-size: 5.3vw;
      }
    }


    &_red {
      color: #FD3431;

      b {
        color: #333333;
      }

      .value {
        font-weight: 900;
        display: inline-block;
      }
    }

    &_yellow {
      color: #FBA11F;

      b {
        color: #333333;
      }

      .value {
        font-weight: 900;
        display: inline-block;
      }
    }
    
    &_colored {
      &:nth-child(odd) {
        span {
          color: #FD3431;
        }
      }

      &:nth-child(even) {
        span {
          color: #FBA11F;
        }
      }
    }
  }

  &-attribute {
    font-weight: 900;

    &-title {
      color: #333333;
      font-size: 18px;
      display: inline-block;


      @media (max-width: 960px) {
        font-size: inherit;
      }
    }

    &-value {
      font-size: 18px;
      display: inline;

      sup {
        color: inherit !important;
      }


      @media (max-width: 960px) {
        font-size: inherit;
      }
    }
  }
}



.custom {
  &__phrase {
    width: 100% !important;
    color: #333333;
    text-align: center;

    span {
      font-size: 16px;
      font-weight: 900;
      padding: 5px 10px;
      border-radius: 6px;
      display: inline-block;
      border: 2px solid #FF5252;


      @media (max-width: 585px) {
        font-size: 12px;
      }

      @media (max-width: 450px) {
        font-size: 11px;
      }
    }
  }
}

.compared__change {
  left: 0;
  width: 100%;
  bottom: 75%;
  position: absolute;


  @media (max-width: 490px) {
    padding: 0 0 10px;
    position: relative;
    display: inline-block;
  }

  &-element{
    width: 50px;
    color: #B3B3B3;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    text-align: center;


    @media(max-width: 770px) {
      width: auto;
      font-size: 13px;
    }

    @media (max-width: 490px) {
      width: 50%;
      position: relative;
      text-align: center;
      display: inline-block;
    }

    &:before {
      content: '';
      width: 30px;
      height: 23px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url($folder_images + "gas-calculator/gas__calculate-change.png");


      @media (max-width: 490px) {
        display: block;
        margin: 0 auto;
      }
    }

    &:nth-child(even) {
      left: 91%;


      @media (min-width: 770px) and (max-width: 960px) {
        left: 93%;
      }

      @media (max-width: 490px) {
        left: 0;
      }
    }
    &:nth-child(odd) {
      right: 91%;


      @media (min-width: 771px) and (max-width: 960px) {
        right: 93%;
      }

      @media (max-width: 490px) {
        right: 0;
      }
    }
  }
}

.compared__finish {
  padding: 100px 20px 20px;
  background-position: 50% -5px;
  background-image: url($folder_images + "gas-calculator/gas__calculate-finish.png");
}

.compared__buttons {
  width: 100%;
  font-size: 0;
  padding: 10px;
  background-color: #666666;

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  &>div {
    width: 50%;
    text-align: center;
    display: inline-block;
  }
}

.compared__button {
  margin: 0;
  width: 215px;
  height: 52px;
  color: #ffffff;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;


  @media (max-width: 960px) {
    width: 162px;
    height: 40px;
    font-size: 13.5px;
    line-height: 40px;
  }

  @media (max-width: 799px) {
    width: 145px;
    height: 36px;
    font-size: 12.1px;
    line-height: 36px;
  }

  @media (max-width: 585px) {
    width: 112px;
    height: 28px;
    font-size: 13px;
    line-height: 28px;
  }

  @media(max-width: 450px) {
    width: 105px;
    height: 26px;
    font-size: 12.2px;
    line-height: 26px;
  }

  &_red {
    color: #fff;
    font-weight: 600;
    background-color: #FF5252;

    &:hover {
      background-color: #FF6051;
    }
  }

  &_yellow {
    color: #333333;
    background-color: #FFC447;

    &:hover {
      background-color: #FBB31E;
    }
  }

  &.no-link {
    display: none;
  }
}

.page__product {

  &-button-top {
    padding: 10px 0 20px;
    background-color: transparent;


    @media (max-width: 490px) {
      padding: 0 0 10px;
    }
  }
}


.gas__popup {
  font-size: 0;

  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  &>div {
    width: 100%;
    padding: 15px 10px;
  }

  &-close {
    top: -15px;
    z-index: 1;
    width: 39px;
    right: -15px;
    height: 39px;
    cursor: pointer;
    position: absolute;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #3d3d3d;


    @media(max-width: 450px) {
      top: -10px;
      width: 27px;
      right: -10px;
      height: 27px;
    }

    @media(max-width: 320px) {
      top: -10px;
      right: -1px;
    }

    &:before {
      @extend %cross-on-subclass-close;

      content: '';
      top: 10px;
      left: 18px;
      transform: rotate(45deg);
      -webkit-transform:rotate(45deg);


      @media(max-width: 450px) {
        top: 6px;
        left: 12px;
      }
    }

    &:after {
      @extend %cross-on-subclass-close;

      content: '';
      top: -10px;
      left: 18px;
      transform: rotate(-45deg);
      -webkit-transform:rotate(-45deg);


      @media(max-width: 450px) {
        top: -9px;
        left: 12px;
      }
    }
  }

  &_choose {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    width: 630px;
    height: auto;
    outline: none;
    margin: 0 auto;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);


    @media(max-width: 670px) {
      width: 90%;
    }

    @media(max-width: 320px) {
      width: 95%;
    }

  }

  &-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    position: fixed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.54);
  }


}

.popup__choose {
  font-size: 0;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 25px 20px 15px;
  font-family: SegoeUIRegular;
  box-shadow: inset 0 10px 0 0 #FFC447;


  @media(max-width: 600px) {
    padding: 25px 10px 15px;
  }

  @media(max-width: 450px) {
    padding: 25px 25px 15px;
  }

  *{
    font-size: 1em;
    vertical-align: middle;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  h4{
    margin: 0;
    color: #F72A3B;
    font-size: 18px;
    font-weight: 100;
  }

  &>div {
    padding: 10px 0;
  }

  &-image {
    cursor: pointer;
    display: inline-block;


    img {
      width: 90px;
    }


    @media (max-width: 450px) {
      padding: 0 15px 0 0;
    }
  }

  &-description {
    width: 55%;
    margin: 0 20px;
    font-size: 14px;
    display: inline-block;


    @media (max-width: 585px) {
      width: 45%;
      margin: 0 10px;
      font-size: 13px;
    }

    @media (max-width: 450px) {
      display: none;
    }

    sup {
      vertical-align: super;
      font-size: smaller;
    }
  }

  &-button {
    //width: 90px;
    color: #fff;
    height:50px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    border-style: none;
    display: inline-block;
    background-color: #FF5252;


    @media (max-width: 450px) {
      width: 120px;
      height: 37px;
      margin: 0 0 0 15px;
    }
  }
}




@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__middle-block.scss';
@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__questions-block.scss';
@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__bottom-table.scss';
@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__tips.scss';
@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__bottom-card.scss';
@import 'blocks/splash-gas-calculator-respons/gas-calculator-respons__links-block.scss';
@import 'old/tooltipster.scss';

/*charge tip*/
.tip__popup {
  font-size: 0;
  position: relative;
  padding: 0 15px 20px;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;


  @media (max-width: 450px) {
    padding: 0 0 10px;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  &:before {
    content: '';
    left: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    background: url($folder_images + 'gas-calculator/title-bg.png') repeat-x top left;
  }

  &-title {
    padding: 30px 0 0;

    h4 {
      margin: 0;
      color: #333;
      font-size: 18px;
      font-weight: 400;
      text-align: center;


      @media (max-width: 585px) {
        font-size: 16px;
      }

      @media (max-width: 450px) {
        font-size: 14px;
      }
    }
  }

  &-total {
    width: 100%;
    display: inline-block;

    &>div {
      width: 50%;
      color: #F72A3B;
      font-size: 18px;
      text-align: center;
      display: inline-block;


      @media(max-width: 450px) {
        font-size: 14px;
        //width: 100%;
        //display: block;
      }

      span {
        font-size: 24px;
        font-weight: bold;


        @media(max-width: 450px) {
          font-size: 18px;
        }
      }
    }

    &_single{

      &>div {
        width: 100%;
      }
    }
  }

  table {
    width: 100%;
    margin-top: 9px;
    border-spacing: 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px 5px 0 0;


    @media (max-width: 450px) {
      border: none;
      border-radius: 0;
      border-top: 1px solid #b3b3b3;
      border-bottom: 1px solid #b3b3b3;
    }
  }

  thead {
    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
      border-bottom: 1px solid #b3b3b3;
      background-color: #ffcf69;

      th {
        padding: 5px;
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        border-right: 1px solid #fff;


        @media(max-width: 585px) {
          font-size: 13px;
        }

        @media(max-width: 450px) {
          font-size: 12px;
        }

        &:first-child {
          width: 80px;


          @media (max-width: 450px) {
            width: 50px;
          }
        }

        &:last-child {
          border:none
        }
      }

      th.gag {
        border: none;
        width: 17px;
      }

    }
  }

  tbody {
    width: 100%;
    display: block;
    max-height: 312px;
    overflow-x: hidden;
	overflow-y: overlay;

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
      border-bottom: 1px solid #B3B3B3;

      &:last-child {
        border-bottom:none;
      }

      td {
        color: #333;
        height: 30px;
        min-width: 65px;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
        padding: 7px 20px 4px 10px;
        border-right: 1px solid #b3b3b3;


        @media(max-width: 584px) {
          font-size: 13px;
        }

        @media(max-width: 450px) {
          padding: 0 5px;
          text-align: center;
        }

        &:first-child {
          width: 80px;


          @media (max-width: 450px) {
            width: 50px;
          }
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.tip__popup-product {
  width: 100%;
  padding: 25px 0 0;
  text-align: center;
  display: inline-block;


  @media (max-width: 450px) {
    padding: 10px 0 0;
  }

  &>div {
    width: 170px;
    display: inline-block;
    vertical-align: middle;


    @media (max-width: 450px) {
      width: 140px;
    }

    img {
      width: 147px;


      @media (max-width: 450px) {
        width: 120px;
      }
    }

    a {


      @media (max-width: 450px) {
        width: 121px;
        height: 40px;
      }
    }
  }
}

.tip__popup-button {
  a {
    width: 100%;
    height: 50px;
    padding: 17px 0;
    font-size: 16px;
    line-height: 1em;


    @media (max-width: 450px) {
      height: 40px;
      padding: 13px 0;
      font-size: 13px;
    }

    @media (max-width: 320px) {
      height: 35px;
      width: 112px;
      font-size: 12px;
    }
  }
}

.updated{
  padding: 15px 20px 0;
  text-align:right;
  font-size:18px;
  color:#4d4d4d;
  font-family: SegoeUIRegular;
  @media (max-width: 799px) {
    font-size:16px;
  }
  @media (max-width: 449px) {
    font-size:14px;
  }
}



.mobile-collapse .show-more {
  display: none;

  @media (max-width: 450px) {
    display: block;
    position: relative;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
 }

  span {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
}

.text-collapse__selector {
  width: 100%;
  line-height: 1em;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    width: 93%;
    display: inline-block;
    border-bottom: 1px dashed #E14949;


    @media (max-width: 400px) {
      width: 92%;
    }

    @media (max-width: 350px) {
      width: 90%;
    }
  }

  span {
    &:after {
      content: '';
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      position: absolute;
      background: url($folder_images + "gas-calculator/arrow_red.png") no-repeat;
      background-size: contain;
    }
  }

  &.open {
    span {
      &:after {
        transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
      }
    }
  }
}