/*-- конфиги -- */ 
@import 'base.scss';

/*-- костыли для неадаптивности --*/

    @media (max-width: 960px) {
        .page {
            width: 960px;
        }
    }
/*----*/ 

/*-- общие стили шагов и текста на этом шаблон --*/
.infographics-step {
    width: 22px;
    color: #FF6633;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    @include font-size-point-300dpi( 5.986 );

    * {
        position: relative;
        z-index: 1;
    }

    &__title {
        z-index: 1;
        color: #FF6633;
        width: 80%;
        position: relative;
        vertical-align: top;
        display: inline-block;
        @include font-size-point-300dpi( 5 );

        h3 {
            margin: 0;
        }

    }

    &__text {
        z-index: 1;
        width: 320px;
        color: #666666;
        line-height: 1.3;
        position: relative;
        text-align: justify;
        padding: 20px 10px 0 20px;
        @include font-size-point-300dpi( 3.8 );

        a {
            color: #4D4D4D;
            text-decoration: underline;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__list {
        color: #4d4d4d;
        position: relative;
        display: inline-block;
        padding: 0px 10px 0px 20px;
        @include font-size-point-300dpi( 3.8 );

        &-container {
            padding-left: 20px;

            p {
                font-weight: bold;
            }
        }

    }
}
/*----*/ 

/*-- номера шагов --*/ 
$steps-numbers: (
    one:   '1.',
    two:   '2.',
    three: '3.',
    four:  '4.',
    five:  '5.',
    six:   '6.',
    seven: '7.'
);
@each $step, $number in $steps-numbers {
    .infographics-step__number_#{$step} {
        z-index: 1;
        position: relative;

        &:before {
            content: $number;
            vertical-align: top;
        }
    }
}
/*-- сетка --*/ 
.infographics-grid {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 10px 10px 5px #C5C1C1;

    &__container {
        font-size: 0;

        * {
            box-sizing: border-box;
        }
    }
}
/*----*/ 

/*-- миксин поворота элемента --*/
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
/*----*/ 

@import 'sprites/infographics.scss';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__intro-compare-block.scss';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__purchase-block.scss';
