/*-- конфиги -- */ 
@import 'base.scss';
/*----*/
@import 'fonts';

.container-comments_infographics-comments {
    background-color: #fff;
    color: #4d4d4d;
}

@import 'sprites/infographics.scss';
@import 'blocks/mixin.scss';
@import 'partials/common__comments-block.scss';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__compare-table-block.scss';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__utility-block.scss';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__travel-block.scss';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__journey-block';
@import 'blocks/infogr-non-responsive-fly-for-free/infographics__useful-block';
@import 'blocks/common__bottom-news-block';
@import 'blocks/common__share-facebook-block';

.updated{
    padding: 15px 45px 0;
    text-align:right;
    font-size:18px;
    color:#4d4d4d;
    font-family: SegoeUIRegular;
    @media (max-width: 799px) {
        font-size:16px;
        padding: 15px 35px 0;
    }
    @media (max-width: 449px) {
        font-size:14px;
        padding: 15px 25px 0;
    }
}

/*-- костыли для неадаптивности --*/
    @media (max-width: 960px) {
        .foot {
            width: 960px;
        }
    }
/*----*/ 
























