.common-best__video {
  color: #000;

  &-title {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 5px;
    display: inline-block;
  }

  &-text {
    font-size: 13px;
  }

  &-date {
    color: #999;
    font-size: 13px;
    font-style: italic;
  }



}