//в корневом стилевом скрипте шаблона не забудте импортировать спрайт!

.common-best__see-also {
  margin: 15px 0;
  border-radius: 12px;
  border: 1px solid #B3B3B3;


  @media (max-width: 960px) {
    border-radius: 0;
  }

  &-title {
    width: 100%;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #FFE6A3;
    padding: 20px 0 16px;
    display: inline-block;
    border-radius: 12px 12px 0 0;


    @media (max-width: 960px) {
      border-radius: 0;
    }
  }

  &-item {
    height: 90px;
    cursor: pointer;
    padding: 10px 10px 5px;
    border-top: 1px solid #B3B3B3;

    &:hover {
      background-color: #FCF4E0;
    }
  }

  &-coins {
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;


    @media (max-width: 960px) {
      width: 8%;
    }

    &_superior {

      &:before {
        content: '';
        display: inline-block;

        @include sprite($best-money-column-superiorly);
      }
    }

    &_high {

      &:before {
        content: '';
        display: inline-block;

        @include sprite($best-money-column-high);
      }
    }

    &_medium {

      &:before {
        content: '';
        display: inline-block;

        @include sprite($best-money-column-medium);
      }
    }

    &_small {

      &:before {
        content: '';
        display: inline-block;

        @include sprite($best-money-column-small);
      }
    }
  }

  &-content {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    position: relative;
    text-align: center;
    display: inline-block;

    b{
      font-size: 16px;
    }

    span {
      color: #bf2522;
      font-size: 16px;
      font-weight: bold;
    }

    &:after {
      content: "";
      top: 27%;
      right: 0;
      position: absolute;
      display: inline-block;

      width: 0;
      height: 0;
      border-left: 15px solid #C4C4C4;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    &_superior {

      &:before {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        display: inline-block;

        @include sprite($best-money-column-superiorly);
      }
    }

    &_high {

      &:before {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        display: inline-block;

        @include sprite($best-money-column-high);
      }
    }

    &_medium {

      &:before {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        display: inline-block;

        @include sprite($best-money-column-medium);
      }
    }

    &_small {

      &:before {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        display: inline-block;

        @include sprite($best-money-column-small);
      }
    }
  }

}