//в корневом стилевом скрипте шаблона не забудте импортировать спрайт!

.common-best__faqs-container {
  padding-top: 20px;

  &:before {
    content: '';
    position: absolute;

    @media (max-width: 960px) {
      width: 100%;
      right: 0;
      padding: 1px;
      display: block;
      border: 1px double #d7d7d7;
    }
  }
}

.common-best__faqs-title {
  font-size: 20px;
  padding-top: 20px;
}

.common-best__question-icon {
  margin-top: 14px;
  display: inline-block;

  @include sprite($best-question);
}

.common-best__article {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4em;
  text-align: justify;
  vertical-align: top;
  display: inline-block;


  &-name {
    width: 90%;
    color: #000;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    padding: 0 0 10px 15px;
    vertical-align: middle;


    @media (max-width: 499px) {
      width: 84%;
      padding: 0 0 10px 5px;
    }
  }

  &-text {
    color: #333;


    @media (min-width: 960px) {
      padding-left: 55px;
    }
  }

  &-link {
    width: 100%;
    color: #333;
    display: block;
    text-align: right;
    font-style: italic;
    text-decoration: underline;


    @media (min-width: 960px) {
      padding-left: 55px;
    }

    &:hover {
      color: #BA3333;
    }
  }
}

.common-best__faqs-links {
  width: 100%;
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;


  @media (max-width: 499px) {
    flex-direction: column;
  }

  &-more {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;


    @media (max-width: 960px) {
      margin-left: 0;
    }

    &:hover {
      color: #BF2522;
    }
  }

  &-ask {
    color: #333;
    width: 275px;
    height: 45px;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffe6a3;
    box-shadow: 0 2px 0 0 #ffc86c;


    @media (max-width: 499px) {
      margin-top: 15px;
    }

    &:hover {
      background-color: #FFDB7D;
    }

    &:before {
      content: '';
      left: -40px;
      position: relative;
      display: inline-block;
      vertical-align: middle;

      @include sprite($best-question);
    }
  }
}
