//в корневом стилевом скрипте шаблона не забудте импортировать спрайт!

.common-best__products-block {
  //стили выглядят странно, but eto neobhodimo
  //структура табуляции такая, что она работает без js, но стили некрасивые
  width: 100%;
  float: right;
  display: none;
  padding: 50px 25px 0;
  margin: 48px 0 0 -100%;


  @media (max-width: 960px) {
    padding: 35px 0;
  }
}

.common-best__product {
  width: 100%;
  margin: 15px 0;
  position: relative;

  &:first-child {
    margin-top: 10px;

    .common-best__product-name {
      padding: 10px 0 10px 90px;


      @media (max-width: 499px) {
        padding: 5px 0 5px 55px;
      }
    }

    .common-best__product-choice {
      top: 0;
      left: 30px;
      position: absolute;
      display: inline-block;

      @include sprite($best-choice);


      @media (max-width: 499px) {
        left: 10px;
        @include sprite($best-choice-sm);
      }
    }
  }

  &-header {
    border-radius: 8px 8px 0 0;


    @media (max-width: 960px) {
      border-radius: 0;
    }
  }

  &-name {
    width: 60%;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    padding: 10px 0 10px 10px;


    @media (max-width: 499px) {
      width: 100%;
      padding: 5px 0 5px 10px;
    }

    a {
      color: #333;

      &:hover {
        color: gray;
        text-decoration: underline;
      }
    }

  }

  &-history {
    width: 40%;
    color: #CF2F1E;
    cursor: default;
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px 10px 0;


    @media (max-width: 499px) {
      display: none;
    }
  }

  &-content {
    padding: 35px 10px;
    box-shadow: inset 1px 0 0 0 #c6c7c8, inset -1px 0 0 0 #c6c7c8, 0 3px 5px 0 #c6c7c8;


    @media (max-width: 960px) {
      box-shadow: 0 3px 5px 0 #c6c7c8;
    }

    @media (max-width: 499px) {
      display: flex;
      flex-wrap: wrap;
      padding: 35px 0;
    }
  }
}


.common-best__product-description {
  width: 670px;
  float: right;
  display: inline-block;


  @media (max-width: 960px) {
    width: 74%;
    padding-left: 15px;
  }

  @media (max-width: 870px) {
    width: 70%;
  }

  @media (max-width: 760px) {
    width: 64%;
  }

  @media (max-width: 499px) {
    width: 100%;
    padding: 0 10px;
  }

  &-title{
    color: #4D4D4D;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;

  }

  ul {
    padding-left: 0;
  }

  li {
    font-size: 13px;
    position: relative;
    padding-left: 15px;
    list-style-type: none;

    &:before {
      content: "";
      left: 0;
      top: 4px;
      position: absolute;
      margin-right: 10px;
      border-radius: 40px;
      display: inline-block;
      vertical-align: middle;
      border: 3px solid #FFB13B;
    }
  }
}


.common-best__table-title {
  font-size: 15px;
  font-weight: bold;

  &_red {
    color: #BF2522;
  }
}



.common-best__product-attributes {
  width: 670px;
  float: right;


  @media (max-width: 960px) {
    width: 100%;
  }
}


.common-best__product-view {
  float: left;
  width: 220px;
  text-align: center;


  @media (max-width: 650px) {
    width: 36%;
  }

  @media (max-width: 499px) {
    width: 100%;
  }

  & > div {
    padding: 0 10px 10px;

    @media (max-width: 499px) {
      width: 50%;
      vertical-align: top;
      display: inline-block;
    }
  }

  & > div:first-child {
    padding: 0 5px 10px 5px;
  }

  & > div:last-child {
    padding: 0 5px 10px 5px;
  }


}

.common-best__product-content-history {
  display: none;
  color: #CF2F1E;
  font-size: 14px;
  padding: 0 0 15px;
  font-weight: bold;


  @media (max-width: 499px) {
    display: block;
  }

}

.common-best_product-image-container {
  width:100%;
  display: inline-block;

  img {


    @media (max-width: 320px) {
      width: 100%;
    }
  }
}

.common-best__see-more {
  font-size: 12px;
  text-decoration: underline;

  &_red {
    color: #BF2522;

    &:hover {
      color: #9E0207;
    }
  }
}


//.common-best__product-attributes-container {
//  width: 100%;
//  text-align: center;
//  border: 1px solid #EAEAEA;
//  border-collapse: collapse;
//
//  th {
//    width: 120px;
//    padding: 15px;
//    color: #4D4D4D;
//    font-size: 12px;
//    background: #F5F5F5;
//    font-weight: normal;
//    border: 1px solid #EAEAEA;
//    border-right: 2px dotted #EAEAEA;
//
//    &:last-child {
//      border-right: 1px solid #EAEAEA;
//    }
//  }
//
//  td {
//    color: #000;
//    width: 120px;
//    padding: 15px;
//    font-size: 14px;
//    border-right: 2px dotted #EAEAEA;
//
//    &:last-child {
//      border-right: 1px solid #EAEAEA;
//    }
//  }
//}

.common-best__product-attributes-container {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.common-best__attribute {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border: 1px solid #EAEAEA;
  border-left: 1px dotted #ADADAD;

  &:nth-child(even) {
    border-right: 1px solid #EAEAEA;
  }

  &:nth-child(odd) {
    border-left: 1px solid #EAEAEA;
  }

  &-name {
    width: 100%;
    padding: 15px;
    color: #4D4D4D;
    font-size: 12px;
    background: #F5F5F5;
    align-items: center;
    display: inline-flex;
    justify-content: center;


    @media (max-width: 499px) {
      padding: 10px 5px;
    }
  }

  &-value {
    width: 100%;
    color: #000;
    font-size: 0;
    padding: 15px;

    display: flex;
    align-self: flex-start;
    justify-content: center;


    @media (max-width: 499px) {
      padding: 10px 5px;
    }

    * {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      content: '';
      align-self: flex-start;
    }

    &:after {
      content: '';
      align-self: flex-end;
      //height: 100%;
      //display: inline-block;
      //vertical-align: middle;
    }

    span {
      font-size: 14px;
    }

  }
}