.common-best__tab-block {
  width: 100%;
  font-size: 0;
  padding-top: 20px;
  display: inline-block;

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  & > div {
    display: list-item;
  }

}

.common-best__tab {
  z-index: -1;
  display: none;
  position: absolute;

  & + label {
    float: left;
    color: gray;
    padding: 10px;
    cursor: pointer;
    background: #eee;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #c7c7c7;


    @media (max-width: 960px) {
      display: inline-block;
    }

    &:hover {
      color: #E15149;
    }

    i {
      width: 100%;
      font-size: 35px;
      display: inline-block;
      vertical-align: middle;


      @media (max-width: 960px) {
        font-size: 24px;
      }
    }

    span {
      font: bold 15px arial;
      display: inline-block;
      vertical-align: middle;


      @media (max-width: 960px) {
        font-size: 12px;
      }
    }
  }

  &:checked + label {
    color: #E15149;
    border-bottom: 0;
    background: #fff;
    box-shadow: 0 0 0 0 #F7F7F7, inset 0 7px 0 -1px #FFDB94;
  }

  &:checked ~ .common-best__products-block {
    display: block;
  }
}