.gas__text {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;


  @media (max-width: 499px) {
    line-height: 19px;
  }

  span {
    color: #bf2522;
  }

  b {
    font-size: 16px;
    font-weight: bold;
  }
}