//в корневом стилевом скрипте шаблона не забудте импортировать спрайт!

.subscribe {
  text-align: right;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;


  @media (max-width: 960px) {
    display: none;
  }

  &__title {
    width: 200px;
    font-size: 13px;
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 20px 10px 15px 10px;

    span {
      font-size: 15px;
      font-weight: bold;
    }

    &:before {
      content: '';
      left: -75px;
      position: absolute;
      @include sprite($best-envelope);
    }
  }

  &__input {

    #email {
      width: 243px;
      height: 29px;
      outline: none;
      color: #b3b3b3;
      margin: 0 auto;
      display: block;
      font-size: 13px;
      padding: 0 10px 0 10px;
      border: 2px solid #D9D9D9;
    }

  }

  &__button {
    width: 133px;
    height: 33px;
    outline: none;
    color: #BA3333;
    display: block;
    font-size: 15px;
    border: 1px solid;
    margin: 20px auto;
    border-radius: 7px;
    background-color: transparent;
  }

  &__report {
    opacity: 0;

    p {

    }
  }


}